:root{
    --black: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

.header-container{
    display: flex;
    justify-content: flex-end;
    height: 5vh;
    padding: 2px;
    width: 100%;
    min-width: 320px;
    margin-block-end: 10px;
}

.header--image{
    height: 100%;
}

.description-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 12px 
}

.description__title{
    margin-block-end: 40px;
    font-family: 'PT Serif', serif;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4.8rem;
    letter-spacing: -0.045rem;
}

.description--subtitle{
    margin-block-end: 10px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.description--body{
    margin-block-end: 40px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
}

.team-container{
    display: grid;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    align-items: flex-start;
    gap: 16px 26px;
}

.team__subcontainer{
    display: grid;
    grid-template-columns: minmax(140px, 240px) auto;
    grid-auto-rows: auto;
}

.team--image{
    min-width: 140px;
    width: 100%;
    max-width: 240px;
}

.team--title{
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 400;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    writing-mode: vertical-lr;
}

.team--name{
    margin-block-start: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.1rem;
}

.team__subcontainer--down{
    align-self: flex-end;
    margin-block-start: 50px;
}

.footer{
    color: #a9a9a9;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.7rem;
    text-align: center;
}